.bg-violet {
    background-color: rgba(71,26,160,255)!important;
}

.text-violet {
    color: rgba(71,26,160,255)!important;
}
.text-violet-light {
    color: rgba(71,26,160,120)!important;
}

.nav-link {
    color: white;
}

* {
    font-family: 'Itim', cursive;
    font-size: 1.1rem;
}